<template>
 <div id="not-found">
    <h1>Page Not Found!.</h1>
 </div>
</template>


     
<style scoped>
  #not-found {
        margin: 0 auto;
         place-items: center;   
  }

  h1 {       
          color: red;    
}
</style>