<template>
  <div id="app">
  <ProductsGrid :products="products"/>
  </div>      
</template>

<script>
import axios from 'axios';
import ProductsGrid from '../components/ProductGrid.vue';

export default {
  name: 'ProductsPage',
  components: { ProductsGrid },
  data(){
     return {
        products: [],
     };
   },
   async created() {
      const result = await axios.get('/api/products');
      const products = result.data;   
      this.products = products;   
   }
};
</script>