<template>
  <div class="promotion-section">
    <h1>Promotions Section</h1>
  </div>
</template>

<script>
export default {
   name: 'PromotionsSection',
}
</script>

<style scoped>
 .promotion-section {
  min-height: 50vh;
  text-align: center;
  border-bottom: 2px solid #ff0000 ;
  padding: 40px;

 }
</style>
